body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
    background-color: lightblue;
}


.grid div {
    height: 20px;
    width: 20px;
}

shapes {
    background-color: purple;
}