* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    height: 505px;
    width: 295px;
    background-color: #EDB111;
    box-shadow: 25px 24px 30px 5px rgba(0,0,0,0.47);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.top-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

.screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 85%;
    width: 85%;
    background-color: #2C332E;
    border-radius: 15px;
}

/* Parte del bottom de la pantalla curva añadida */

.screen-container::after {
    content: '';
    position: absolute;
    top: 212.5px;
    height: 30px;
    width: 83%;
    border-radius: 50%;
    background-color: #2C332E;
    
}

/* Elementos de la luz de encendido */

.power-container {
    position: absolute;
    top: 75px;
    left: 26px;
    width: 45px;
    height:50px;    
}

.top-power-container {
    position: relative;
    display: flex;
    align-items: center;
    width: inherit;
    height:40%;
}

#power-light {
    background-color: red;
    border-radius: 50%;
    width: 9px;
    height:9px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 1px rgba(220, 8, 8, 0.929); 
    z-index: 3;
    /* box shadow activarse al encender la consola? */
}

.power-halfmoons-container {
    display: flex;
    align-items: center;
    width: 27px;
    height:9px;
}
.halfmoon-1 {
    z-index: 2;
}

.halfmoon-2 {
    z-index: 1;
}

.halfmoon-3 {
    z-index: 0;
}

.halfmoons {
    border-radius: 50%;
    width: 9px;
    height:9px;
    position:relative;
    
}
.halfmoons::before {
    content:'';
    position: absolute;
    left: 0;
    background-color: rgb(177, 177, 177);
    border-radius: 50%;
    width: 9px;
    height:9px;
    
} 
.halfmoons::after {
    content:'';
    position: absolute;
    left: -3px;
    background-color: #2C332E;
    border-radius: 50%;
    width: 9px;
    height:9px;
    
} 



#power-letters p {
    font-size: 0.7rem;
    margin-top: 0;
}






.gameboycolor-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 210px;
    z-index:1;
    width: 130px;
}

.gameboy-container {
    font-weight: 900;
    font-style: italic;
    color:#67879a;
    letter-spacing: -0.1rem;
    
}

/* font-weight es solo hasta 900. Añado text stroke para hacer la letra de COLOR aún más gruesa */

.color-container {
    display: flex;
    align-items: center;
    font-family: "Comic Sans MS", "Comic Sans";
    font-weight: 900;
    -webkit-text-stroke: 1px;
}

#C {
    color: #aa2058;
}

#O1 {
    color:#605bd9;
    transform: rotateZ(10deg);
    transform: translateY(0.5px);
    font-size: 0.85rem;
}
#L {
    color: #78b930;
    transform: rotateZ(-5deg);
}

#O2 {
    color:#b6b524;
    transform: rotateZ(10deg);
    transform: translateY(0.5px);
    font-size: 0.85rem;

}
#R {
    color:#317aaf;
}


.bottom-container {
    height: 50%;
    width: 100%;
    border: 1px black solid;
}

.display-container {
    margin: auto;
    height: 144px;
    width: 160px;
    background-color: #6B7767;
}