:root {
    --buttons-base: #2c313e;
    --casin-base:#FFD412;
    --carved-words: #D9A30F;
    --carved-highlights: #FFFFA7;
    --button-highlights: #999fae;
}


* {
    box-sizing: border-box;
}

html {
    display:flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    height: 505px;
    width: 295px;
    background: var(--casin-base);
    box-shadow:  25px 24px 30px 5px rgba(0,0,0,0.47);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 2;
}

.container:after {
    content:'';
    height: 50px;
    width: 294px;
    background: var(--casin-base);
    position: absolute;
    margin: auto;
    top: 473px;
    left:0.5px;
    border-radius: 50%;
    z-index: -1;
    box-shadow:0px 4px 0px #E8A705;
    border-bottom: 2px solid #fff5d9c9;
    overflow: hidden;

}



.top-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    z-index:3;
}

.screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 90%;
    background-color: #2A2E28;
    border-radius: 10px;
    z-index: 1;
    
}

/* Parte del bottom de la pantalla curva añadida */

.screen-container::after {
    content: '';
    position: absolute;
    top: 212px;
    height: 30px;
    width: 89%;
    border-radius: 50%;
    background-color: #2A2E28;
    box-shadow: 0px 2px 0px black;
    z-index: -1;
}

/* Elementos de la luz de encendido */

.power-container {
    position: absolute;
    top: 75px;
    left: 21px;
    width: 45px;
    height:50px;    
}

.top-power-container {
    position: relative;
    display: flex;
    align-items: center;
    width: inherit;
    height:40%;
}

#power-light {
    background-color: rgb(45, 8, 8);
    border-radius: 50%;
    width: 9px;
    height:9px;
    border: 1px solid black;
    z-index: 3;
    /* box-shadow: 0px 0px 10px 1px rgba(220, 8, 8, 0.929);  */
    /* box shadow activarse al encender la consola */
}

.power-halfmoons-container {
    display: flex;
    align-items: center;
    width: 27px;
    height:9px;
}
.halfmoon-1 {
    z-index: 2;
}

.halfmoon-2 {
    z-index: 1;
}

.halfmoon-3 {
    z-index: 0;
}

.halfmoons {
    border-radius: 50%;
    width: 9px;
    height:9px;
    position:relative;
    
}
.halfmoons::before {
    content:'';
    position: absolute;
    left: 0;
    background-color: rgb(177, 177, 177);
    border-radius: 50%;
    width: 9px;
    height:9px;
    
} 
.halfmoons::after {
    content:'';
    position: absolute;
    left: -3px;
    background-color: #2C332E;
    border-radius: 50%;
    width: 9px;
    height:9px;
    
} 



#power-letters p {
    font-size: 0.6rem;
    margin-top: 0;
    color:#67879a;
}

.display-container {
    position:relative;
    margin: 0 auto 10px auto;
    height: 154px;
    width: 170px;
    background-color: #6B7767;
    box-shadow: inset 0px 0px 2px 2px black;
    z-index:1;
}
canvas {
    width: inherit;
    height: inherit;
}


video {
    
    left: 5px;
    top: -23px;
    position:absolute;
    margin-bottom: 200px;
    width: 95%;
}

/* gameboycolor contiene toda el título GAMEBOYCOLOR y se divide en GAMEBOY y en COLOR. COLOR a su vez se divide en letras  */

.gameboycolor-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 208px;
    z-index:1;
    width: 144px;
}

.gameboy-container {
    font-weight: 700;
    transform: skewX(-10deg);
    color:#67879a;
    letter-spacing: -0.1rem;
    font-size: 1.15rem;
    
}

/* font-weight es solo hasta 900. Añado text stroke para hacer la letra de COLOR aún más gruesa */

.color-container {
    display: flex;
    align-items: center;
    font-family: "Comic Sans MS", "Comic Sans";
    font-weight: 900;
    -webkit-text-stroke: 1.5px;
}

#C {
    color: #aa2058;
}

#O1 {
    color:#605bd9;
    transform: rotateZ(10deg);
    transform: translateY(0.5px);
    font-size: 0.85rem;
}
#L {
    color: #78b930;
    transform: rotateZ(-5deg);
}

#O2 {
    color:#b6b524;
    transform: rotateZ(10deg);
    transform: translateY(0.5px);
    font-size: 0.85rem;

}
#R {
    color:#317aaf;
}


/* COMIENZO DE LA PARTE INFERIOR DE LA GAMEBOY */


.bottom-container {
    height: 50%;
    width: 100%;
}


.top-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    height: 50%;
}


.nintendoLabel-container {
    margin-top: 20px;
    border-radius: 50px;
    border: 2px solid  var(--carved-words);
    box-shadow: 0px -2px 2px var(--carved-highlights);
    
}

.nintendoLabel-container p {
    margin: 0 5px;
    font-weight: bold;
    color: var(--carved-words);
    text-shadow: 0px -2px 2px var(--carved-highlights);
}



.controls-container {
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.cross-container {
    margin-left: 10px;
    position: relative;
    width: 100px;
    height: 100px;
}





/* before y after para que las sombras queden por debajo */
.cross-container::after {
    content: '';
    position:absolute;
    top: 15px;
    left: 30px;
    width: 19px;
    height: 60px;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 2px black, 3px 3px 10px 2px rgba(0, 0, 0, 0.5);
    z-index: 0;
}



.cross-container::before {
    content: '';
    position:absolute;
    top: 35px;
    left: 10px;
    width: 60px;
    height: 19px;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 2px black, 3px 3px 10px 2px rgba(0, 0, 0, 0.5);
    z-index: 0;
}


#vertical-rect, #horizontal-rect, #center-circle {
    position:absolute;
    background-color: var(--buttons-base);
    
}

#vertical-rect, #horizontal-rect {
    border-radius: 3px;
    /* box-shadow: 0px 0px 0px 2px black; */
}



#vertical-rect {
    position: relative;
    top: 15px;
    left: 30px;
    width: 19px;
    height: 60px;
    z-index: 1;
}
#top-vertical-rect {
    width:100%;
    height:30px;
    cursor:pointer;
    border: none;
    text-decoration: none;
    background-color: transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}

#top-vertical-rect:active {
    background: linear-gradient(to bottom,#1c2028 30%,var(--buttons-base) 70%);
}
#bottom-vertical-rect {
    width:100%;
    height:30px;
    cursor:pointer;
    border: none;
    text-decoration: none;
    background-color: transparent;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#bottom-vertical-rect:active {
    background: linear-gradient(to top,#1c2028 30%,var(--buttons-base) 70%);
}

#horizontal-rect {
    display:flex;
    align-items: center;
    justify-content: space-between;
    top: 35px;
    left: 10px;
    width: 60px;
    height: 19px;
    z-index: 1;
}

#left-horizontal-rect {
    width:19px;
    height:100%;
    cursor:pointer;
    border: none;
    text-decoration: none;
    background-color: transparent;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#left-horizontal-rect:active {
    background: linear-gradient(to right,#1c2028 30%,var(--buttons-base) 70%);
}

#right-horizontal-rect {
    width:19px;
    height:100%;
    cursor:pointer;
    border: none;
    text-decoration: none;
    background-color: transparent;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#right-horizontal-rect:active {
    background: linear-gradient(to left,#1c2028 30%,var(--buttons-base) 70%);
}


 /* Ubicación de las flechas */

.fa-sort-down, .fa-sort-up, .fa-caret-left, .fa-caret-right {
    color: #1d2029;
    text-shadow: 0px -1px 0px #8f8f8f;
}

.fa-sort-down {
    position:absolute;
    top:40px;
    left:4px;
}

.fa-sort-up {
    position: absolute;
    left:4px;
    top:3px;
}
.fa-caret-left {
    position: absolute;
    left: 3px;
    top:2px;
}


.fa-caret-right {
    position: absolute;
    left: 47px;
    top:2px;
}





#center-circle {
    background: radial-gradient(#5E6968,#1F222B);
    background-position: -10px;
    top: 38px;
    left: 31.5px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    z-index: 2;
}



.round-buttons-container {
    position: relative;
    width: 150px;
    height:100px;
    
}

#button-B, #button-A, #select-button, #start-button {
    background-color:var(--buttons-base);
    box-shadow: 0px 0px 0px 2px black, 0px 0px 2px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-bottom: 1.5px  solid var(--button-highlights);
}



#button-B, #button-A {
    height: 30px;
    width: 30px;
    border-radius: 50%;

}

#button-B {
    position: absolute;
    top: 50px;
    left:30px;
    
}

#button-A {
    position: absolute;
    top: 25px;
    right:30px;
}
#button-B p, #button-A p {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2px;
    margin-right: 5px;
    color: var(--buttons-base);
    text-shadow: 0px -1px  var(--button-highlights);
}

/* Modificación de los botones para que parezca que se aprieta cuando hacemos click con el pseudónimo :active */

#button-B:active, #button-A:active, #select-button:active, #start-button:active {
    border-width: 0;
    box-shadow: 0px 0px 0px 1px black, 0px 0px 1px 2px rgba(0, 0, 0, 0.5), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
    /* border-bottom: 0; */
}

#button-B p:active, #button-A p:active {
    margin-top: 4px;
    
}

.bottom-section-container {
    display:flex;
    justify-content: flex-end;
    align-items:flex-end;
    height: 50%;
}

.select-start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    width: 33%;
    height:70%;
    margin-bottom: 43px;
    
}

.select-start-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height:25%;
}

#select-button, #start-button {
    border: none;
    border-radius: 40%;
    width: 34%;
    height:25%;
    background: linear-gradient(to bottom, var(--buttons-base),var(--button-highlights));
    
}
#select-button:active, #start-button:active {
    background:  var(--buttons-base);
}

.select-start-titles-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height:20%;
    font-size: 0.8rem;
}
#select-title, #start-title {
    color: #dfc069;
    text-shadow: 1px 1px #2C332E;
    letter-spacing: -1px;
    color: var(--carved-words);
    text-shadow: 0px -2px 2px var(--carved-highlights);
}



.speaker-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 22%;
    height:50%;
    transform: skewy(-10deg);
    margin: 0 10px 10px 28px;
    z-index: 1;
}

.dot {
    width:4px;
    height:4px;
    border-radius: 50%;
}

.dot-open {
    background-color: black;
}
.dot-closed {
    background: linear-gradient(var(--casin-base),var(--carved-words));
    box-shadow: inset 0.5px 0.5px var(--carved-highlights);
    
}